body {
    font-family: 'Merriweather', serif;
    letter-spacing: 1.5px;
    font-size: 20px;
    color: black;
}

h1 {
    padding:15px; 
    background-color:#800000;  
    color:black;
    font-size: 30px;
}

h2 {
    border-bottom: solid 2px #800000;
    color: #800000;
    font-size: 25px;
}

.jumbotron {
    background-color: white;
    padding: 2rem 2rem;
}

.navbar, .navbar-expand-lg, .navbar-light, .bg-light {
    padding: 0rem 1rem;
}

.blockDiv {
    background-color: #800000;
    padding:12px; 
}

.navbar {
    border-radius: 4px;
}

.fixed-bottom {
    padding: 0.5rem 1rem;
    color: black;
    background-color: #800000;
}

#navtext {
    padding: 20px;
    text-align: center;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}