body {
    font-family: 'Merriweather', serif;
    letter-spacing: 1.5px;
    font-size: 20px;
}

h1 {
    font-size: 30px;
}

.nav-link {
    font-size: 25px;
    color: black;
}

li {
    border-right: 1px solid black;
}
li:last-child {
    border-right: none;
}

.navbar {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    text-align: center;
    display: block;
}

.nav-item {
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.btn .btn-dark{
    display: inline-block;
    border-radius: 4px;
    background-color: #353535;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 0px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .col-md-3 img {
      width: 200px;
      height: 200px;
      margin: 10px 10px;
  }
  .col-md-3 p {
    width: 200px;
    background-color: rgba(160, 160, 160, .8);
    text-align: center;
    padding: 12px;
    font-weight: bold;
    position: absolute;
    bottom: 13px;
    margin-left: 10px;
    border-radius: 4px;
}
